# General
.DS_Store
Thumbs.db
*.log

# Env
.env
.env.*
!.env.example

# Java
**/target/
**/.classpath
**/.project
**/.settings/

# Node
**/node_modules/
**/dist/

# AWS SAM
**/.aws-sam/

# IDE
.vscode/
.idea/
*.iml
